.contact .contactmessage a:hover, .contact .contactmessage a, #rproject:hover > .lgptitle, #rproject .lgptitle, .ppglink img, .ppglink:hover > img, .extlink .extarrow, .extlink:hover > .extarrow, .ptitle, .pdes, .picons, .pevent, .project:hover > .pbox > .ptext > .pcontent > .ptitle, .project:hover > .pbox > .ptext > .pcontent > .pevent, .project:hover > .pbox > .ptext > .pcontent > .pdes, .project:hover > .pbox > .ptext > .picons, .socialicon, .social:hover > .socialicon:hover, .social:hover > .socialicon, .social {
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  -moz-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  -o-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.contact, #nav, .main {
  padding: 1.5em;
}

#rproject .lgptitle, .contact .contactmessage, .pdes, .hello, .contact .lgcontact, .pevent, .ptitle, .socialicon, .tagline, .name {
  color: #ffffff;
  font-weight: lighter;
}

#rproject .lgptitle, .psofticons, .pextlinks, .pdes, .ptitle, .tagline .tag h4, .tagline .tag, .tagline, .name, html,
body {
  padding: 0;
  margin: 0;
}

.contact .lgcontact, .pevent, .ptitle, .socialicon, .tagline, .name {
  font-family: "Space Grotesk", "Anderson Grotesk", "Charlevoix Pro", "Pangram", "Helvetica", sans-serif;
}

.contact .contactmessage, .pdes, .hello {
  font-family: "Anderson Grotesk", "Charlevoix Pro", "Helvetica", sans-serif;
  line-height: 1.5em;
}

html,
body {
  overflow-x: hidden;
}

.site {
  background-color: #101010;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0.25em;
  -webkit-flex-wrap: wrap;
}

.box {
  background: #181818;
  margin: 0.25em;
}

.gutters {
  margin: -1em 0 0 -1em;
}

.gutters > .box {
  padding: 1em 0 0 1em;
}

.main {
  -webkit-box-flex: 0 1 30%;
  -moz-box-flex: 0 1 30%;
  -webkit-flex: 0 1 30%;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  height: 18em;
}

.name {
  text-transform: uppercase;
}

.tagline {
  text-transform: uppercase;
  margin-top: 10px;
  color: #18c976;
}
.tagline .tag {
  display: inline-block;
  margin-left: -6px;
  transform: skew(-20deg);
}
.tagline .tag h4 {
  padding: 7px 10px;
  transform: skew(20deg);
}
.tagline .tag:nth-child(1) {
  border-right: 2px solid #fff;
}
.tagline .tag:nth-child(2) {
  border-right: 2px solid #fff;
}

.social {
  margin-top: 1em;
  padding: 1em 0;
}
.social:hover > .socialicon {
  opacity: 0.5;
}
.social:hover > .socialicon:hover {
  opacity: 1;
  color: #18c976;
}

.socialicon {
  text-decoration: none;
  margin-right: 1em;
  font-size: 1.2em;
}

.hello {
  margin: 2em 0;
}

#nav {
  background: #101010;
  -webkit-box-flex: 1 1 100%;
  -moz-box-flex: 1 1 100%;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.project {
  -webkit-box-flex: 0 1 30%;
  -moz-box-flex: 0 1 30%;
  -webkit-flex: 0 1 30%;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  height: 20em;
  overflow-y: hidden;
}
.project:hover > .pbox > .ptext > .pcontent > .ptitle, .project:hover > .pbox > .ptext > .pcontent > .pevent, .project:hover > .pbox > .ptext > .pcontent > .pdes, .project:hover > .pbox > .ptext > .picons {
  transform: translateY(0);
  opacity: 1;
}
.project:hover > .pbox {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  padding: 0;
}
.project:hover > .pbox > .ptext {
  padding: 1.25em;
}

.ptitle {
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #18c976;
}

.pevent {
  text-transform: uppercase;
  color: #18c976;
}

.pdes {
  padding: 10px 0;
}

.ptitle, .pdes, .picons, .pevent {
  transform: translateY(-7em);
  opacity: 0;
}

.pbox {
  height: 0;
  padding: 1.25em;
}

.pcontent {
  flex: 1;
}
.pcontent .pextlinks {
  margin-top: -1em;
}

.picons {
  transform: translateY(1.5em);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.psofticons, .pextlinks {
  flex: 0 1 50%;
}

.psofticons {
  transform: translateY(0.1em);
}

.extlink {
  color: #fff;
  text-decoration: none;
  font-size: 1.6em;
  padding: 5px;
}
.extlink:hover > .extarrow {
  transform: translate(0.25em, -0.25em);
}
.extlink .extarrow {
  width: 24px;
}

#healthmate {
  background-image: url("../assets/HealthMate/HealthMateMockup.PNG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#gfr {
  background-image: url("../assets/Gael Force Robotics/GFRMockup.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ppglink:hover > img {
  margin-left: 0.75em;
}
.ppglink img {
  width: 24px;
  padding: 5px;
}

.project:hover > .pbox > .ptext > .pcontent > .ptitle > .ppglink > img {
  transform: translateY(0.57em);
}

.softicon {
  width: 24px;
  float: right;
  margin: 0 2px;
}

path {
  fill: #fff;
}

#rproject {
  -webkit-box-flex: 1 1 60%;
  -moz-box-flex: 1 1 60%;
  -webkit-flex: 1 1 60%;
  -ms-flex: 1 1 60%;
  flex: 1 1 60%;
  width: 60%;
  height: 21em;
  background: #18c976;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#rproject .lgptitle {
  font-family: "Supply";
  text-transform: uppercase;
  font-size: 4em;
  margin-left: 5.5em;
}
#rproject:hover > .lgptitle {
  margin: 0.5em;
}

.contact {
  -webkit-box-flex: 1 1 20%;
  -moz-box-flex: 1 1 20%;
  -webkit-flex: 1 1 20%;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
}
.contact .lgcontact {
  text-transform: uppercase;
}
.contact .contactmessage a {
  text-decoration: none;
  padding: 2px;
  color: #fff;
  box-shadow: inset 0 -2px 0 #18c976;
}
.contact .contactmessage a:hover {
  box-shadow: inset 0 -20px 0 #18c976;
}

/*# sourceMappingURL=master.css.map */
