---
permalink: /about
---

{% include header.html %}
{% include nav.html content='about' %}
<main>
    <div class="about">
        <div class="aboutpreview">
            <div class="aboutleft">
                <h1 class="previewtxt">It's ya boi — <span class="green">Rishi
                        Pappu</span></h1>
                <h2 class="previewtxt">It's always hoodie season somewhere
                </h2>
            </div>
            <div class="aboutright">
                <div class="aboutimg"></div>
            </div>
        </div>
        <div class="aboutbox">
            <p class="abouttxt">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                rerum ipsa aspernatur nihil provident aliquam molestias quis!
                Molestias debitis necessitatibus quis earum odit, magnam
                assumenda, modi soluta culpa, praesentium consectetur?
            </p>
            <p class="abouttxt">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                rerum ipsa aspernatur nihil provident aliquam molestias quis!
                Molestias debitis necessitatibus quis earum odit, magnam
                assumenda, modi soluta culpa, praesentium consectetur?
            </p>
        </div>
    </div>
</main>
{% include footer.html %}