/* Gets rid of scrollbar */
::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.wrapper {
    overflow-x: hidden;
}

/* Sets primary font and color */
html, body {
    font-family: "Kiona";
    color: #666;
    overflow-x: hidden !important;
}

/* ========== */
/* NAVIGATION */
/* ========== */

/* Class to trigger toggled changes */
.toggled {
    color: inherit;
}

/* Holds the navigation icon */
.iconBox {
    color: inherit;
}

/* Navigation icon */
.navIcon {
    list-style-type: none;
    padding: 2em;
    margin: 0;
    position: absolute;
    z-index: 5000000;
    transition: all ease-in-out 0.3s;
}

/* Styles individual lines of icon */
.navIcon li {
    margin: 0.3em 0;
    height: 0.07em;
    width: 1.5em;
    background: #666;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.3s;
    border-radius: 50px;
}

/* Triggers spinning animation onClick */
.toggled .navIcon {
    transform: rotate(360deg);
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.3s;
}

/* Triggers first line of icon to rotate */
.toggled .navIcon li:nth-child(1) {
    transform: rotate(45deg) translate(0.15em, 0.1em);
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.3s;
}

/* Triggers second line of icon to rotate */
.toggled .navIcon li:nth-child(2) {
    transform: rotate(-45deg) translate(0.15em, -0.1em);
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.3s;
}

/* Holds the list of of links */
.navMain {
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    padding: 0;
    margin: 0;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

/* Box for the list of links */
.navBox {
    position: absolute;
    z-index: 100000;
    width: 100%;
    padding: 1em 0 1em 0;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

/* Styles individual links */
.navMain li a {
    font-size: 24px;
    text-transform: uppercase;
    color: #666;
    letter-spacing: 15px;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    opacity: 0;
    cursor: default;
    transform: scale(0.5, 0.5, 0.5);
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
    pointer-events: none;
}

/* Styles the hover animation on the links */
.navMain li a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
    margin: auto;
}

.navMain li a:hover:after {
    width: 100%;
    background: #666;
    border-radius: 50px;
}

/* On toggled expands and reveals links */
.toggled .navMain li a {
    opacity: 1;
    margin: 1.5em 0;
    cursor: default;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
    transform: scale(1, 1, 1);
    pointer-events: auto;
    cursor: pointer;
}

/* Styles the translucent white background */
.overlay {
    width: 100%;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 0;
    opacity: 0.9;
    position: absolute;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

/* Styles the transulcent white background onClick */
.toggled .overlay {
    height: 100%;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

/* Removes letter-spacing at the end of the navigation links */
.noSpace {
    letter-spacing: 0;
}

/* ==== */
/* BODY */
/* ==== */

/* Styles the overall moving background */
.splash {
    background-image: url('./imgs/reaching_hands.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    transform: scale(1.1);
    z-index: -1000000;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: inline-block;
    overflow-x: hidden;
}

.titleBox {
    background: transparent;
    z-index: -1;
    position: absolute;
    text-align: left;
}

.name {
    font-family: "Aquatico";
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 1em;
    text-align: left;
    padding: 45vh 7vw;
    line-height: 2em;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

.splashWrapper {
    background: #666;
    background-attachment: fixed;
}

.clearSplash {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vh;
    background: transparent;
    background-attachment: local;
}

.quickDescription {
    font-family: "Kiona";
    text-align: center;
    letter-spacing: 2px;
    background-attachment: local;
}

.profileBox {
    margin-bottom: 2em;
}

.profileImage {
    height: 10em;
    width: 10em;
    max-width: 100%;
    border-radius: 100px;
    border: 5px solid #fff;
}

.breakDown {
    font-size: 100%;
}

.horizontalRuling {
    width: 5em;
    margin: 2em auto;
}

.characteristics {
    display: inline-block;
    font-family: "Pangram-Light";
    margin: 1em 2em;
    text-transform: uppercase;
}

.iconDescriptions {
    margin: 1em;
}

.shortLine {
    margin: 4em 0;
    font-family: "Pangram-Light"
}


.insetUnderline {
    border-bottom: 1px solid #CFDEF3;
    box-shadow: inset 0 -8px #CFDEF3;
}

.contactMeText {
    transform: skew(0, 5deg);
    text-align: center;
}

.contactMe {
    margin-top: 4em;
    padding: 5em;
    transform: skew(0, -5deg);
    background-image: url("./imgs/geometric_sky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Pangram-Light";
    border-top: 5px solid #CFDEF3;
    border-bottom: 5px solid #CFDEF3;
}

.contactMeTitle {
    letter-spacing: 3px;
}

.contactForm {
    margin: 1em 0;
}

input {
    border: none;
    background: transparent;
    padding-left: 10px;
    font-family: "Pangram-Light";
    border-bottom: 1px solid #CFDEF3;
    box-shadow: inset 0 -5px #CFDEF3;
    margin: 1em auto;
    width: 15em;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

input:focus {
    outline: none;
    box-shadow: inset 0 -7px #CFDEF3;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

input:hover {
    box-shadow: inset 0 -7px #CFDEF3;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

textarea {
    width: 15em;
    margin: 1em auto;
    height: 7em;
    resize: none;
    border: 4px solid #CFDEF3;
    padding: 10px;
    background: transparent;
    opacity: 0.7;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

textarea:hover {
    opacity: 1;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

textarea:focus {
    outline: none;
    opacity: 1;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

button[type="submit"] {
    background: transparent;
    border: 2px solid #CFDEF3;
    border-radius: 100px;
    padding: 5px 1em;
    margin: 1em;
    text-transform: uppercase;
    color: #666;
    letter-spacing: 5px;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
    font-family: "Kiona";
}

.fa-paper-plane {
    margin-left: 10px;
}

button[type="submit"]:hover {
    background: #CFDEF3;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

button[type="submit"]:focus {
    outline: none;
}

.footer {
    margin-top: 1em;
    padding: 3em 2em;
    text-align: center;
}

.iconLink {
    text-decoration: none;
    color: #666;
    margin: 0 1em;
}

.iconLink:hover {
    text-decoration: none;
    color: #666;
}

.socialIcon {
    background: #CFDEF3;
    padding: 8px 10px;
    border-radius: 100px;
    border: 1px solid #CFDEF3;
    opacity: 0.8;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}

.socialIcon:hover {
    opacity: 1;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.5s;
}
