::-webkit-scrollbar {
    display: none;
}

html, body {
    font-family: "Kiona";
    color: #666;
}

.toggled {
    color: inherit;
}

.splash {
    background-image: url('./imgs/infinite_tower.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transform: scale(1.1);
    z-index: -100000;
    height: 100%;
    padding: 0;
    margin: 0;
}
.iconBox {
    color: inherit;
}

.navIcon {
    list-style-type: none;
    padding: 0;
    margin: 2em;
    position: absolute;
    z-index: 500000;
    transition: all ease-in-out 0.5s;
}

.navIcon li {
    margin: 0.3em 0;
    padding: 0.035em 0.75em;
    background: #666;
    transition: all ease-in-out 0.5s;
}

.toggled .navIcon {
    transform: rotate(360deg);
    transition: all ease-in-out 0.3s;
}

.toggled .navIcon li:nth-child(1) {
    transform: rotate(45deg) translate(0.15em, 0.1em);
    transition: all ease-in-out 0.3s;
}

.toggled .navIcon li:nth-child(2) {
    transform: rotate(-45deg) translate(0.15em, -0.1em);
    transition: all ease-in-out 0.3s;
}
.overlay {
    background: #fff;
    opacity: 0.8;
    z-index: 100000;
    position: absolute;
    height: 0;
    width: 0;
    transition: all ease-in-out 0.3s;
}

.nav {
    list-style-type: none;
    padding: 2em;
    position: absolute;
    width: 100%;
    transition: all ease-in-out 0.3s;
    list-style-position: inside;
}

.nav li a {
    visibility: hidden;
    transition: all ease-in-out 0.3s;
    font-family: 'Argon';
    text-transform: uppercase;
    letter-spacing: 15px;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    top: 50%;
    left: 50%;
}

.toggled .nav li a{
    visibility: visible;
    transition: all ease-in-out 0.3s;
    margin: 2em;
}

.toggled .overlay {
    background: #fff;
    height: 100%;
    width: 100%;
    transition: all ease-in-out 0.3s;
}

.toggled .nav li a:after {
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
    margin: auto;
}

.toggled .nav li a:hover:after {
    width: 100%;
    background: #000;
}

.content {
    transform: translate(50%, 50%);
    padding: 0;
    margin: 0;
    text-align: center;
    width: 50%;
}
