@font-face {
    font-family: 'Anderson Grotesk';
    src: url('AndersonGroteskUltrabold.eot');
    src: url('AndersonGroteskUltrabold.eot?#iefix') format('embedded-opentype'),
        url('AndersonGroteskUltrabold.woff2') format('woff2'),
        url('AndersonGroteskUltrabold.woff') format('woff'),
        url('AndersonGroteskUltrabold.ttf') format('truetype'),
        url('AndersonGroteskUltrabold.svg#AndersonGroteskUltrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Anderson Grotesk';
    src: url('AndersonGroteskBoldOblique.eot');
    src: url('AndersonGroteskBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('AndersonGroteskBoldOblique.woff2') format('woff2'),
        url('AndersonGroteskBoldOblique.woff') format('woff'),
        url('AndersonGroteskBoldOblique.ttf') format('truetype'),
        url('AndersonGroteskBoldOblique.svg#AndersonGroteskBoldOblique') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anderson Grotesk';
    src: url('AndersonGroteskBold.eot');
    src: url('AndersonGroteskBold.eot?#iefix') format('embedded-opentype'),
        url('AndersonGroteskBold.woff2') format('woff2'),
        url('AndersonGroteskBold.woff') format('woff'),
        url('AndersonGroteskBold.ttf') format('truetype'),
        url('AndersonGroteskBold.svg#AndersonGroteskBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anderson Grotesk';
    src: url('AndersonGroteskOblique.eot');
    src: url('AndersonGroteskOblique.eot?#iefix') format('embedded-opentype'),
        url('AndersonGroteskOblique.woff2') format('woff2'),
        url('AndersonGroteskOblique.woff') format('woff'),
        url('AndersonGroteskOblique.ttf') format('truetype'),
        url('AndersonGroteskOblique.svg#AndersonGroteskOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anderson Grotesk';
    src: url('AndersonGroteskLightOblique.eot');
    src: url('AndersonGroteskLightOblique.eot?#iefix') format('embedded-opentype'),
        url('AndersonGroteskLightOblique.woff2') format('woff2'),
        url('AndersonGroteskLightOblique.woff') format('woff'),
        url('AndersonGroteskLightOblique.ttf') format('truetype'),
        url('AndersonGroteskLightOblique.svg#AndersonGroteskLightOblique') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Anderson Grotesk';
    src: url('AndersonGroteskRegular.eot');
    src: url('AndersonGroteskRegular.eot?#iefix') format('embedded-opentype'),
        url('AndersonGroteskRegular.woff2') format('woff2'),
        url('AndersonGroteskRegular.woff') format('woff'),
        url('AndersonGroteskRegular.ttf') format('truetype'),
        url('AndersonGroteskRegular.svg#AndersonGroteskRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anderson Grotesk';
    src: url('AndersonGroteskLight.eot');
    src: url('AndersonGroteskLight.eot?#iefix') format('embedded-opentype'),
        url('AndersonGroteskLight.woff2') format('woff2'),
        url('AndersonGroteskLight.woff') format('woff'),
        url('AndersonGroteskLight.ttf') format('truetype'),
        url('AndersonGroteskLight.svg#AndersonGroteskLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Anderson Grotesk';
    src: url('AndersonGroteskBlack.eot');
    src: url('AndersonGroteskBlack.eot?#iefix') format('embedded-opentype'),
        url('AndersonGroteskBlack.woff2') format('woff2'),
        url('AndersonGroteskBlack.woff') format('woff'),
        url('AndersonGroteskBlack.ttf') format('truetype'),
        url('AndersonGroteskBlack.svg#AndersonGroteskBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Anderson Grotesk';
    src: url('AndersonGroteskUltraOblique.eot');
    src: url('AndersonGroteskUltraOblique.eot?#iefix') format('embedded-opentype'),
        url('AndersonGroteskUltraOblique.woff2') format('woff2'),
        url('AndersonGroteskUltraOblique.woff') format('woff'),
        url('AndersonGroteskUltraOblique.ttf') format('truetype'),
        url('AndersonGroteskUltraOblique.svg#AndersonGroteskUltraOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

