<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rishi — Portfolio</title>
    <link rel="shortcut icon" href="assets/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/sass/master.css">
    <link rel="stylesheet" href="assets/fonts/Myste/stylesheet.css">
    <link rel="stylesheet" href="assets/fonts/Sanchez Niu/stylesheet.css">
    <link rel="stylesheet" href="assets/fonts/Virtuous Slab/stylesheet.css">
</head>

<body>