@font-face {
    font-family: 'Berlin Grotesk';
    src: url('BerlinGrotesk-Regular.eot');
    src: url('BerlinGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('BerlinGrotesk-Regular.woff2') format('woff2'),
        url('BerlinGrotesk-Regular.woff') format('woff'),
        url('BerlinGrotesk-Regular.ttf') format('truetype'),
        url('BerlinGrotesk-Regular.svg#BerlinGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berlin Grotesk';
    src: url('BerlinGrotesk-Bold.eot');
    src: url('BerlinGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('BerlinGrotesk-Bold.woff2') format('woff2'),
        url('BerlinGrotesk-Bold.woff') format('woff'),
        url('BerlinGrotesk-Bold.ttf') format('truetype'),
        url('BerlinGrotesk-Bold.svg#BerlinGrotesk-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

