@font-face {
  font-family: 'Supply-Regular';
  src: url('Supply-Regular.eot');
  src: url('Supply-Regular.woff2') format('woff2'),
       url('Supply-Regular.woff') format('woff'),
       url('Supply-Regular.ttf') format('truetype'),
       url('Supply-Regular.svg#Supply-Regular') format('svg'),
       url('Supply-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

