@font-face {
  font-family: 'Supply-UltraLight';
  src: url('Supply-UltraLight.eot');
  src: url('Supply-UltraLight.woff2') format('woff2'),
       url('Supply-UltraLight.woff') format('woff'),
       url('Supply-UltraLight.ttf') format('truetype'),
       url('Supply-UltraLight.svg#Supply-UltraLight') format('svg'),
       url('Supply-UltraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

