@font-face {
    font-family: 'Charlevoix Pro';
    src: url('CharlevoixPro-Black.eot');
    src: url('CharlevoixPro-Black.eot?#iefix') format('embedded-opentype'),
        url('CharlevoixPro-Black.woff2') format('woff2'),
        url('CharlevoixPro-Black.woff') format('woff'),
        url('CharlevoixPro-Black.ttf') format('truetype'),
        url('CharlevoixPro-Black.svg#CharlevoixPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Charlevoix Pro';
    src: url('CharlevoixPro-Regular.eot');
    src: url('CharlevoixPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('CharlevoixPro-Regular.woff2') format('woff2'),
        url('CharlevoixPro-Regular.woff') format('woff'),
        url('CharlevoixPro-Regular.ttf') format('truetype'),
        url('CharlevoixPro-Regular.svg#CharlevoixPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charlevoix Pro';
    src: url('CharlevoixPro-Thin.eot');
    src: url('CharlevoixPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('CharlevoixPro-Thin.woff2') format('woff2'),
        url('CharlevoixPro-Thin.woff') format('woff'),
        url('CharlevoixPro-Thin.ttf') format('truetype'),
        url('CharlevoixPro-Thin.svg#CharlevoixPro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

